
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cell{
    width: 3rem;
    height: 3rem;
    text-align: center;
    border: 2px solid black;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 500;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.btns{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}